%img{:src => gravatar_url(@user) }
%h2= @user.username
%table.table
	%tr
		%th
		%th Minimum
		%th Maximum
		%th Average
	%tr
		%th WPM
		%td= @user.find_stat :min, :wpm
		%td= @user.find_stat :max, :wpm
		%td= @user.find_stat :avg, :wpm
	%tr
		%th CPM
		%td= @user.find_stat :min, :cpm
		%td= @user.find_stat :max, :cpm
		%td= @user.find_stat :avg, :cpm
:javascript
	$(document).ready(function() {
		options = {
			series: {
				lines: { show: true },
				points: { show: true }
			},
			xaxis: {
				mode: 'time'
			}
		}
		$.plot('#wpm_chart_container', #{@wpm.to_json}, options)
		$.plot('#cpm_chart_container', #{@cpm.to_json}, options)
	})

%h2.center WPM History
#wpm_chart_container.chart

%h2.center CPM History
#cpm_chart_container.chart