%h2 Top Records
= render :partial => 'shared/records', :locals => { :records => @top_records }

%h2 Top Profiles
%table.table{:cellpadding => '0', :cellspacing => '0'}
	%tr.header
		%th Profile
		%th Records
		%th Average WPM
		%th Average CPM
	- @top_profiles.each do |p|
		%tr
			%td.profile
				= link_to :controller => 'profiles', :action => 'view', :id => p[0].id do
					= p[0].layout
					%strong= p[0].keyboard
			%td= p[1]
			%td= p[2].round
			%td= p[3].round