!!! Strict
%html
	%head
		%title= controller.controller_name.capitalize
		= stylesheet_link_tag 'style'
		- if @page_styles
			- @page_styles.each do |style|
				= stylesheet_link_tag style
		= javascript_include_tag :defaults
		- if @page_scripts
			- @page_scripts.each do |script|
				= javascript_include_tag script
		= csrf_meta_tag
	%body
		#account
			- if user_signed_in?
				Signed in as #{current_user.email}. Not you?
				= link_to "Sign out", destroy_user_session_path
			- else
				= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
		%h1#header= link_to 'typr', '/'
		%ul#nav
			- if user_signed_in?
				%li= link_to 'Compete', '/type/compete'
				%li= link_to 'Practice', '/type/practice'
				%li= link_to 'History', '/account/history'
				%li= link_to 'Settings', '/account'
		#container
			#flash
				.notice= notice
				.alert= alert
			#content= yield