!!! Strict
%html
	%head
		%title= controller.controller_name.capitalize
		= stylesheet_link_tag 'style'
		- if @page_styles
			- @page_styles.each do |style|
				= stylesheet_link_tag style
		= javascript_include_tag :defaults
		- if @page_scripts
			- @page_scripts.each do |script|
				= javascript_include_tag script
		= csrf_meta_tag
	%body
		%h1#header= link_to 'typr', '/'
		%ul#nav
			%li= link_to 'Practice', '/type/practice'
			%li= link_to 'History', '/history'
		#container
			#flash
				.notice= notice
				.alert= alert
			#account
				- if user_signed_in?
					Signed in as #{current_user.email}. Not you?
					= link_to "Sign out", destroy_user_session_path
				- else
					= link_to "Sign up", new_user_registration_path
					or
					= link_to "Sign in", new_user_session_path
					or
					= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
			#content= yield