- @page_scripts = ['jquery-ui.min', 'autocomplete-rails']
- @page_styles = ['jquery-ui']

%h2 Edit User

= form_for(current_user, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
	= devise_error_messages!

	%p
		= f.label :email
		%br
		= f.email_field :email
	
	%p
		= f.label :username
		%br
		= f.text_field :username
	
	%input{:type => 'hidden', :name => 'form_type', :value => 'edit_user'}
	%p= f.submit "Update"

%h2 Change Password

= form_for(current_user, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
	= devise_error_messages!
	
	%p
		= f.label :password, 'New password'
		%br
		= f.password_field :password

	%p
		= f.label :password_confirmation, 'New password confirmation'
		%br
		= f.password_field :password_confirmation

	%p
		= f.label :current_password
		%i (we need your current password to confirm your changes)
		%br
		= f.password_field :current_password

	%input{:type => 'hidden', :name => 'form_type', :value => 'change_password'}
	%p= f.submit "Change password"

%h2 Profiles
%p Profile explanation goes here
%table.table{:cellspacing => 0, :cellpadding => 0}
	%tr.header
		%th Layout
		%th Keyboard
		%th
	- current_user.profiles.each do |profile|
		%tr{:id => profile.id}
			%td= profile.layout
			%td= profile.keyboard
			%td
				%a{:href => 'javascript: void 0', :class => 'delete_row'} Delete
	%tr
		%td
		%td
		%td= link_to 'Add', 'javascript: void 0;', :id => 'add_row'

%h2 Authentications

- unless current_user.authentications.empty?
	%p You can sign into this account using:
	#authentications
		- current_user.authentications.each do |auth|
			.authentication
				= image_tag "#{auth.provider}_32.png", :size => "32x32"
				.provider= auth.provider.titleize
				.uid= auth.uid
%p Add another service to sign in with:
- %w[facebook open_id github].each do |prov|
	= link_to "/auth/#{prov}" do
		= image_tag "#{prov}_64.png", :size => "64x64", :alt => prov.titleize
		= prov.titleize

%h2 Cancel my account

%p
	Unhappy?
	= link_to "Cancel my account.", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete

= link_to "Back", :back
